body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

#viewer {
  width: 100vw;
  height: 100vh;
}

/* Biar loading-nya kelihatan premium */
.psv-loader {
  color: #fff !important;
}

.psv-navbar {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
